@charset "UTF-8";

@font-face {
    font-family: "Montserrat-800";
    src: url("/fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-800-norm";
    src: url("/fonts/Montserrat-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTHoves";
    src: url("/fonts/TT-Hoves-Pro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTHoves";
    src: url("/fonts/TT-Hoves-Pro-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTHoves";
    src: url("/fonts/TTHoves-DemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTHoves";
    src: url("/fonts/TTHoves-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*----------Общие (START)---------------------*/
:root {
    --color-base: #1f1f1f;
    --color-white: #ffffff;
    --color-black: #000;
    --color-gray: #696969;
    --color-orange: #ff5a13;
    --font-family-base: "TTHoves", sans-serif;
    --font-family-accent: "Montserrat-800-norm", sans-serif;
    --container-width: 1424px;
    --container-padding-x: 24px;
    --transition-duration: 0.4s;
    --header-height: 215px;
    --border: 1px solid #e3e3e3;
    --border-header: 1px solid #696969;
    --color-yellow-base: #ffb200;
    --color-yellow-md: #ff9000;
    --color-black-05: #f3f3f3;
    --color-black-20: #d2d2d2;
    --color-pink-base: #ff0099;
}

@media (max-width: 1279px) {
    :root {
        --container-width: 100%;
        --container-padding-x: 32px;
    }
}

@media (max-width: 767px) {
    :root {
        --container-padding-x: 16px;
    }
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
    width: 100%;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

html {
    scroll-behavior: initial;
}

body.no-scroll {
    position: fixed;
    inset: 0;
    overflow: hidden;
}

body {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    font-weight: 400;
    color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    overflow-x: hidden !important;
}

main {
    flex-grow: 1;
    transition:
        opacity 0.4s ease,
        visibility 0.4s ease;
    opacity: 1;
    visibility: visible;
}

main.is-hidden {
    opacity: 0;
}

h1,
.h1 {
    font-family: var(--font-family-accent);
    font-weight: 800;
    font-size: clamp(57px, 4.16vw, 24px);
    text-transform: uppercase;
    color: var(--color-base);
    line-height: 1.1;
}

h2,
.h2 {
    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1;
    color: var(--color-gray);
    margin-bottom: 90px;
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

button,
button:active,
button:focus {
    border: none;
}

a {
    color: inherit;
}



a[class] {
    text-decoration: none;
}

.section {
    margin-bottom: 120px;
}

@media (max-width: 1024px) {
    .section {
        margin-bottom: 90px;
    }
}

*:focus-visible {
    outline: none;
}

dl,
ol,
p,
ul {
    margin-bottom: 0;
}

/* ---------КНОПКИ--------- */

.button-base {
    border-radius: 100px;
    padding: 23px 31px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-family: var(--font-family-base);
    font-weight: 600;
    line-height: 0.8;
    transition: background 0.4s ease-in-out;
}

.button-black {
    text-transform: uppercase;
    font-size: 24px;
    background: var(--color-base);
    color: var(--color-white);
}

.button-black:hover {
    color: currentColor;
    background: #383838;
}

.button-white {
    padding: 23px 26px;
    text-transform: uppercase;
    font-size: 24px;
    background: var(--color-white);
    color: var(--color-base);
}

.button-white:hover {
    color: var(--color-base);
    background: #b1b1b1;
}

@media (max-width: 1279px) {
    .button-black {
        font-size: 16px;
        padding: 22px 27px;
    }

    .button-white {
        padding: 23px 30px;
        font-size: 18px;
    }
}

@media (max-width: 767px) {

    .button-black,
    .button-white {
        font-size: 14px;
        padding: 13px 46px;
        width: 100%;
        white-space: normal;
        word-wrap: break-word;
        line-height: 1;
        text-align: center;
    }

    .button-white {
        padding: 13px 30px;
    }
}

.button-pink {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background: #f09;
    color: var(--color-white);
    text-transform: uppercase;
}

.button-pink:hover {
    color: var(--color-white);
    background: #f09;
}

.button-bottom {
    display: inline-flex;
    gap: 24px;
    padding-right: 25px;
    height: 31px;
    color: var(--color-white);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    align-items: center;
    font-size: 20px;
    transition: background 0.4s ease-in-out;
}

.button-bottom:hover {
    background: rgba(255, 255, 255, 0.3);
}

.hero__button {
    font-size: 24px;
    line-height: 0.7;
}

@media (max-width: 767px) {
    .hero__button {
        font-size: 14px;
    }
}

/* ---------КНОПКИ END--------- */
.icon {
    display: inline-flex;
    align-items: center;
    column-gap: 20px;
}

.icon::after {
    content: "";
    flex-shrink: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon--down {
    height: 31px;
    width: 19px;
    background-image: url(../img/icon-down.svg);
}

.icon--vbi {
    height: 18px;
    width: 24px;
    background-image: url(../img/vbi.svg);
}

.section-header__kicker,
.section-header__title,
.gsap-block {
    will-change: transform, opacity;
    backface-visibility: hidden;
    /* Убирает мерцание в Webkit */
}

/* Шапка секций */
.section-header {
    display: grid;
    margin-bottom: 64px;
}

.section-header__kicker {
    font-size: 24px;
    line-height: 1;
    padding-bottom: 48px;
    border-bottom: var(--border-header);
    margin-bottom: 40px;
    color: #ffb200;
}

.section-header__kicker--with-vbi {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 12px;
}

.section-header__kicker--with-vbi::before {
    content: "";
    flex-shrink: 0;
    width: 24px;
    height: 18px;

    background-image: url("../img/vbi-head.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.section-header__kicker--with-logo {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
    column-gap: 20px;
}

.section-header__kicker--with-logo::after {
    content: "";
    flex-shrink: 0;
    width: 77px;
    height: 20px;

    background-image: url("../img/vbi-logo-bw.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 767px) {
    .section-header__kicker--with-logo {
        align-items: normal;
    }

    .section-header__kicker--with-logo::after {
        width: 50px;
        height: 12px;
    }
}

.section-header__title {
    display: block;
    font-family: var(--font-family-base);
    font-weight: 600;
    font-size: 64px;

    line-height: 1;
    color: var(--color-white);
    margin-bottom: 0;
}

.section-header__title-accent {
    display: inline-block;
    font-family: var(--font-family-base);
    font-weight: 400;
}

.section-header__description {
    font-size: 24px;
    line-height: 1.1;
    color: #b1b1b1;
}

@media (max-width: 1024px) {
    .section-header {
        margin-bottom: 32px;
    }

    .section-header__kicker {
        font-size: 20px;
        padding-bottom: 32px;
        margin-bottom: 24px;
    }

    .section-header__title {
        font-size: 48px;
    }

    .section-header__description {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .section-header {
        margin-bottom: 24px;
    }

    .section-header__wrap {
        font-size: 16px;
    }

    .section-header__kicker {
        font-size: 16px;
        padding-bottom: 20px;
        margin-bottom: 16px;
    }

    .section-header__title {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .section-header__description {
        font-size: 16px;
    }
}

/* Шапка секций end*/
/*----------Общие (END)---------------------*/

.body-bg-top {
    background-image: url(../img/pink.png), url(../img/gradient.png);

    background-repeat: no-repeat, no-repeat;

    background-position:
        100% -200px,
        center calc(100% + 100px);

    background-size: 100%, contain;

    background-color: var(--color-base);
}

.header {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 24px 56px;
    column-gap: 34px;
}

.header__container-scroll {
    display: contents;
}

.header--scrolled .header__container-scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0;
    column-gap: 34px;
    backdrop-filter: blur(16px);
    box-shadow: inset 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 20px;
}

.logo {
    width: 156px;
}

@media (max-width: 1024px) {
    .header__container {
        padding-block: 24px 32px;
    }

    .header.header--scrolled {
        backdrop-filter: blur(16px);
        box-shadow: inset 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        border-radius: 0px;
    }

    .header--scrolled .header__container-scroll {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;

        box-shadow: none;

        background: transparent;
    }

    .logo {
        width: 104px;
    }
}

@media (max-width: 767px) {
    .header__container {
        padding: 24px 16px 28px 16px;
    }

    .logo {
        width: 99px;
    }
}

.header__nav {
    flex-grow: 1;
    border-radius: 20px;
    padding: 16px 40px;

    backdrop-filter: blur(16px);
    box-shadow: inset 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);

    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #fff;
}

.header--scrolled .header__nav {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;

    box-shadow: none;

    background: transparent;
}

.nav__list {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.nav__link {
    white-space: nowrap;
    text-shadow: none;
    transition: color 0.4s ease-in-out;
}

.nav__link:hover,
.nav__link--active {
    color: #ffb200;
    /* text-shadow:
        0.5px 0 0 white,
        -0.5px 0 0 white; */
}

.header__btn {
    border-radius: 20px;
    padding-inline: 40px;
    height: 53px;
    background: #fff;
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #f09;
    white-space: nowrap;
}

.header__burger,
.menu-mob {
    display: none;
}

@media (max-width: 1279px) {
    .body-bg-top {
        background-position:
            100% -2px,
            center 100%;
    }

    .header__nav,
    .header__btn {
        display: none;
    }

    /* ---------- МОБИЛЬНОЕ МЕНЮ START--------- */
    .header__burger {
        display: block;
    }

    /* Базовые стили кнопки */
    .burger {
        position: relative;
        width: 32px;
        height: 32px;
        background-color: transparent;

        border: none;
        border-radius: 8px;
        cursor: pointer;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 6px;
        transition: background-color 0.4s ease;
    }

    /* Линии бургера */
    .burger__line {
        width: 23px;
        height: 3px;
        background-color: #ffffff;
        border-radius: 2px;
        transition: all 0.4s ease;
        transform-origin: center;
    }

    .burger__line:nth-child(2) {
        width: 32px;
    }

    .burger.is-active .burger__line {
        width: 32px;
        margin: 0 auto;
        transform-origin: center;
    }

    .burger.is-active .burger__line:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .burger.is-active .burger__line:nth-child(2) {
        opacity: 0;
        transform: scale(0);
    }

    .burger.is-active .burger__line:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .menu-mob {
        display: block;
        background-color: transparent;
        position: fixed;
        top: 80px;
        width: 100%;
        height: calc(100vh - 80px);
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.4s ease-in-out,
            visibility 0.4s ease-in-out;
        overflow-y: auto;
        z-index: 100;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        background-color: transparent;
        z-index: 100;
    }

    .menu-mob.is-active {
        opacity: 1;
        visibility: visible;
        overscroll-behavior: none;
        transition:
            opacity 0.4s ease-in-out,
            visibility 0.4s ease-in-out;
    }

    .menu-mob .menu-mob__inner {
        padding: 24px 32px 32px 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
    }

    .menu-mob__menu {
        margin-bottom: 32px;
    }

    .menu-mob__menu-list {
        display: grid;
        text-align: center;
        row-gap: 16px;
    }

    .menu-mob__menu-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 0px 10px 16px;

        font-family: var(--font-family-base);
        font-weight: 500;
        font-size: 18px;

        line-height: 1.2;
    }

    .menu-mob__menu-item:hover {
        color: #ffb200;
    }

    .menu-mob__menu-item:last-child {
        border-bottom: none;
    }

    .menu-mob__phone-btn {
        border-radius: 20px;
        padding: 20px 40px;
        width: 100%;
        text-transform: uppercase;
        align-self: center;
        margin-top: auto;

        font-family: var(--font-family-base);
        font-weight: 500;
        font-size: 18px;

        line-height: 1.2;
        background: #fff;
        color: #f09;
    }

    /* ---------- МОБИЛЬНОЕ МЕНЮ END--------- */
}

@media (max-width: 767px) {
    .burger {
        width: 24px;
        height: 24px;
    }

    .burger__line {
        width: 17px;
        height: 3px;
    }

    .burger__line:nth-child(2) {
        width: 24px;
    }

    .burger.is-active .burger__line {
        width: 24px;
    }

    .menu-mob {
        top: 72px;
        height: calc(100vh - 72px);
    }

    .menu-mob .menu-mob__inner {
        padding: 24px 16px;
    }

    .menu-mob__menu-item {
        font-size: 16px;
    }

    .menu-mob__phone-btn {
        font-size: 16px;
    }
}

/* ---------------НАВИГАЦИЯ СЛАЙДЕРА------------ */
.controls {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.controls__arrow {
    /* Сброс дефолтных стилей кнопки */
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    appearance: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 52px;
    height: 31px;

    transition: opacity 0.4s ease;
    -webkit-tap-highlight-color: transparent;
}

.controls__arrow:hover {
    opacity: 0.7;
}

/*---------- FOOTER (START)---------------------*/
.footer {
    color: var(--color-white);
    font-size: 16px;
    line-height: 1.5;
    padding-block: 90px 80px;
}

.footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 80px;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__column--services,
.footer__column--about {
    align-items: flex-start;
}

.footer__column--contact {
    align-items: flex-start;
}

.footer__column--social {
    display: flex;
    align-items: flex-end;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__item {
    margin-bottom: 8px;
}

.footer__link {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.footer__link:hover {
    color: #ffb200;
}

.footer__contact-info {
    margin: 0;
    line-height: 1.5;
}

.footer__phone,
.footer__email {
    margin: 0 0 8px 0;
}

.footer__address {
    margin-bottom: 16px;
}

.footer__phone {
    display: block;
    transition: color 0.4s ease;
}

.footer__phone:hover {
    color: #b1b1b1;
}

.footer__social-icons {
    display: flex;
    gap: 8px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: var(--color-white);
    transition: background svg 0.4s ease-in-out;
}

.footer__social-link:hover {
    background: #b1b1b1;
}

.footer__social-link svg {
    width: 32px;
    height: 32px;
    transition: transform 0.4s ease-in-out;
}

.footer__social-link:hover svg {
    transform: scale(1.2);
}

.footer__social-link svg {
    width: 32px;
    height: 32px;
}

.footer__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
}

.footer__copyright,
.footer__policy {
    color: inherit;
    text-decoration: none;
}

.footer__policy:hover {
    opacity: 0.8;
}

@media (max-width: 1279px) {
    .footer {
        padding-block: 40px;
    }

    .footer__content {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 64px;
        margin-bottom: 64px;
    }

    .footer__bottom {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .footer {
        padding-block: 40px 24px;
    }

    .footer__content {
        grid-template-columns: 1fr;
        row-gap: 32px;
        margin-bottom: 32px;
    }

    .footer__bottom {
        grid-template-columns: 1fr;
    }

    .footer__column--social {
        display: flex;
        align-items: flex-start;
    }
}

/*---------- FOOTER (END)---------------------*/

/*---------- HERO (START)---------------------*/
.hero {
    height: calc(100vh - 134px);
    overflow: hidden;
    min-height: 887px;
    position: relative;
    padding-top: 134px;
}

.hero.section {
    margin-bottom: 40px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
}

.hero__block-top {
    overflow: hidden;
    border-radius: 40px;
    background-color: var(--color-base);
    position: relative;
    z-index: 1;
}

.hero__content {
    display: flex;
    justify-content: space-between;

    gap: 20px;
    position: relative;
    z-index: 3;
    min-height: 668px;
}

.hero__content::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url(../img/hero-f.png) no-repeat right;
    background-size: cover;

    z-index: 0;
}

.hero__content>*:nth-child(1) {
    position: relative;
    z-index: 2;
}

.hero__content>*:nth-child(2) {
    position: relative;
    z-index: 2;
}

.hero__info {
    max-width: 578px;
    width: 100%;
    display: grid;
    align-self: center;
    border-radius: 20px;
    padding: 40px;
    background-color: var(--color-white);
    color: var(--color-base);
    width: 100%;
    /* margin-block: 80px; */
    margin-left: 40px;
}

.hero__title {
    margin-bottom: 24px;
}

.hero__description {
    padding-block: 24px;
    color: var(--color-gray);
    width: 100%;
    border-top: var(--border);
    border-bottom: var(--border);
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1.1;
}

.hero__image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 80px;
    overflow: hidden;
}

.hero__image-block:nth-child(1) {
    width: 309px;
    align-self: self-end;
}

.hero__image-block:nth-child(2) {
    width: 316px;
    align-self: self-start;
}

.hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__block-bottom {
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 1279px) {
    .hero {
        height: max-content;
        min-height: max-content;

    }

    .hero__info {
        padding: 24px;
        margin-block: 24px;
        margin-left: 24px;
        max-width: 500px;
    }

    .hero__title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .hero__image-block:nth-child(1) {
        width: 225px;
    }

    .hero__image-block:nth-child(2) {
        width: 225px;
    }

    .hero__content {


        min-height: 468px;
    }
}

@media (max-width: 1119px) {
    .hero {
        height: max-content;
        min-height: max-content;
        padding-top: 80px;
    }

    .hero__content {
        min-height: 392px;
    }

    .hero__info {
        width: 454px;
    }

    .hero__title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .hero__description {
        padding-block: 16px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .hero__button {
        font-size: 16px;
        height: 51px;
    }

    .hero__image-block:nth-child(1) {
        width: 190px;
    }

    .hero__image-block:nth-child(2) {
        width: 190px;
    }
}

@media (max-width: 991px) {
    .hero__info {
        width: 44vw;
    }

    .hero__image {
        gap: 8px;
        margin-right: 16px;
    }

    .hero__image-block:nth-child(1) {
        width: 20vw;
    }

    .hero__image-block:nth-child(2) {
        width: 20vw;
    }
}

@media (max-width: 767px) {
    .hero__container {
        height: auto;
    }

    .hero__content {
        gap: 12px;
        flex-direction: column-reverse;
    }

    .hero__block-top {
        border-radius: 0;
        background: transparent;
    }

    .hero__content::before {
        display: none;
    }

    .hero__image {
        border-radius: 24px;
        margin-right: 0;
        padding: 16px 16px 0 16px;
        min-height: 162px;
    }

    .hero__image::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: url(../img/icon_background.png) no-repeat right;
        background-size: cover;

        z-index: 0;
    }

    .hero__image-block:nth-child(2) {
        display: none;
    }

    .hero__image-block:nth-child(1) {
        width: 100%;
    }

    .hero__info {
        width: 100%;
        max-width: 100%;
        border-radius: 20px;
        padding: 24px 16px;
        margin-block: 0;
        margin-left: 0;
    }

    .hero__title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .hero__description {
        margin-bottom: 16px;
    }

    .hero__block-bottom {
        display: flex;
        margin-top: 12px;
        margin-bottom: 35px;
        height: max-content;
        border-radius: 12px;
        padding: 6px 12px;
        background: rgba(255, 255, 255, 0.1);
    }

    .hero__block-bottom .button-bottom {
        background: transparent;
        padding-right: 0;
        height: max-content;
        font-size: 14px;
    }

    .hero__block-bottom .button-bottom .icon--down {
        column-gap: 12px;
        flex-shrink: 0;
    }
}

@media (max-width: 450px) {
    .hero {
        min-height: 438px;
        padding-top: 72px;
    }
}

/*---------- HERO (END)---------------------*/

/*---------- ОСОБЕННОСТИ (START)---------------------*/
.features {
    position: relative;
}

.features__container {
    margin-top: 45px;
}

.features__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    align-items: stretch;
}

.features__card {
    border-radius: 40px;
    padding: 32px;
    min-height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

.features__card-title {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 32px;

    line-height: 1.2;

    color: #fff;
}

.features__card-text {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 24px;

    line-height: 1.3;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.8);
}

.features__card-icon {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.features__card--dark {
    background-color: #2a2a2a;
    color: #ffffff;
}

.features__card--pink {
    background: #e10087;
    color: #ffffff;
}

.features__card.features__card--icon {
    border-radius: 40px;
    overflow: hidden;
    grid-column: span 2;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__card:nth-child(1) {
    grid-column: span 5;
}

.features__card:nth-child(2) {
    grid-column: span 5;
}

.features__card:nth-child(3) {
    grid-column: span 2;
}

.features__card:nth-child(4) {
    grid-column: span 2;
}

.features__card:nth-child(5) {
    grid-column: span 5;
}

.features__card:nth-child(6) {
    grid-column: span 5;
}

/* ========== АДАПТИВ ========== */

/* Tablet: 768px - 1024px */
@media (max-width: 1024px) {
    .features__grid {
        grid-auto-flow: dense;
        align-items: center;
    }

    .features__card {
        min-height: 135px;
        gap: 16px;

        padding: 24px;
    }

    .features__card-title {
        font-size: 24px;
    }

    .features__card-text {
        font-size: 16px;
    }

    .features__card:nth-child(1) {
        grid-column: span 9;
        grid-row: 1;
    }

    .features__card:nth-child(2) {
        grid-column: span 12;
        grid-row: 2;
    }

    .features__card:nth-child(3) {
        grid-column: span 3;
        grid-row: 3;
    }

    .features__card:nth-child(4) {
        grid-column: span 3;
    }

    .features__card:nth-child(5) {
        grid-column: span 12;
        grid-row: 4;
    }

    .features__card:nth-child(6) {
        grid-column: span 9;
        grid-row: 3;
    }
}

/* Tablet Small: 768px */
@media (max-width: 767px) {
    .features__grid {
        grid-template-columns: 1fr 1fr;
    }

    .features__card {
        border-radius: 32px;
        padding: 20px;
        gap: 12px;
    }

    .features__card.features__card--icon {
        border-radius: 32px;
    }

    .features__card-title {
        font-size: 20px;
    }

    .features__card:nth-child(1) {
        grid-column: span 2;
        grid-row: 1;
    }

    .features__card:nth-child(2) {
        grid-column: span 2;
        grid-row: 2;
    }

    .features__card:nth-child(3) {
        grid-column: span 1;
        grid-row: 3;
    }

    .features__card:nth-child(4) {
        grid-column: span 1;
        grid-row: 3;
    }

    .features__card:nth-child(5) {
        grid-column: span 2;
        grid-row: 5;
    }

    .features__card:nth-child(6) {
        grid-column: span 2;
        grid-row: 4;
    }
}

@media (max-width: 480px) {
    .features__card.features__card--icon {
        aspect-ratio: 1 / 1;
    }
}

/*---------- ОСОБЕННОСТИ (END)---------------------*/

/*---------- TASKS (START)---------------------*/
.tasks-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(344px, 1fr));
    gap: 16px;
}

.task-card {
    display: grid;
    align-content: space-between;
    row-gap: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 24px;
    line-height: 0;
    position: relative;
    overflow: hidden;
    height: 351px;
}

.task-card::after {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 0;
    content: "";
    /* background-image: url(../img/task.svg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.task-card:nth-child(1)::after {
    background-image: url('../img/tasks/1.svg');
}

.task-card:nth-child(2)::after {
    background-image: url('../img/tasks/2.svg');
}

.task-card:nth-child(3)::after {
    background-image: url('../img/tasks/3.svg');
}

.task-card:nth-child(4)::after {
    background-image: url('../img/tasks/4.svg');
}

.task-card__title {
    font-family: var(--font-family-base);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    color: #fff;
    z-index: 2;
}

.task-card__text {
    position: relative;
    z-index: 2;
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 20px;

    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #fff;
}

@media (max-width: 1119px) {
    .task-card {
        height: 250px;
    }
}

@media (max-width: 1024px) {
    .task-card__text {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .tasks-grid {
        grid-template-columns: 1fr;
    }

    .task-card {
        border-radius: 40px;
        padding: 24px;
        height: max-content;
    }

    .task-card__title {
        font-size: 22px;
        margin-bottom: 20px;
    }
}

/*---------- TASKS (END)---------------------*/

/*---------- CONVERSION (START)---------------------*/
.conversion-block__swiper .swiper-wrapper {
    align-items: stretch;
    /* Растягиваем все слайды по высоте самого высокого */
}

.section-header__main {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.conversion-block__swiper.swiper {
    overflow: visible;
}

.conversion-block__swiper .swiper-slide {
    height: auto;

    display: flex;
}

.conversion-block__slide {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 32px;
    overflow: hidden;
    z-index: 1;
}

.conversion-block__slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: top center;
    z-index: -2;
}

/* Слой с блюром и градиентом (над картинкой) */
.conversion-block__slide::after {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(255, 255, 255, 0.1) 100%);
    z-index: -1;
}

.conversion-block__slide--bg-1::before {
    background-image: url("../img/conversion/1-1.svg");
}

.conversion-block__slide--bg-2::before {
    background-image: url("../img/conversion/2-1.svg");
}

.conversion-block__slide--bg-3::before {
    background-image: url("../img/conversion/3-1.svg");
}

.conversion-block__slide--bg-4::before {
    background-image: url("../img/conversion/4-1.svg");
}

.conversion-block__slide--bg-5::before {
    background-image: url("../img/conversion/5-1.svg");
}

.conversion-block__slide--bg-6::before {
    background-image: url("../img/conversion/6-1.svg");
}

.conversion-block__slide--bg-7::before {
    background-image: url("../img/conversion/7-1.svg");
}

.conversion-block__slide--bg-8::before {
    background-image: url("../img/conversion/8-1.svg");
}

.conversion-block__slide--bg-9::before {
    background-image: url("../img/conversion/9-1.svg");
}

.conversion-block__head {
    display: grid;
    row-gap: 20px;
}

.conversion-block__card-title {
    font-family: var(--font-family-base);
    font-weight: 700;
    font-size: 40px;

    line-height: 1.1;
    letter-spacing: 0.01em;
    text-align: center;
}

.conversion-block__card-text {
    font-family: "TTHoves", sans-serif;
    font-weight: 500;
    font-size: 20px;

    line-height: 1.3;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 32px;
}

.conversion-block__card-preview {
    /* margin-top: auto; */
    margin: auto;
    height: 255px;
}

.conversion-block__card-image {
    object-fit: cover;
    width: auto;
    height: 100%;
}


.conversion-block__card-btn {
    margin-top: 40px;
    padding: 20px 40px;
    height: 51px;
}



@media (max-width: 1024px) {
    .conversion-block__controls {
        display: none;
    }

    .conversion-block__slide {
        padding: 24px 16px;
    }

    .conversion-block__card-title {
        font-size: 24px;
    }

    .conversion-block__card-preview {
        height: 200px;
    }

    .conversion-block__card-text {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .conversion-block__card-btn {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .conversion-block__slide {
        padding: 24px 16px;
    }

    .conversion-block__card-preview {
        height: 160px;
    }

    .conversion-block__card-title {
        font-size: 20px;
    }
}

/*---------- CONVERSION (END)---------------------*/
/*---------- ПРОМО ЛЕНДИНГ (START)---------------------*/

.tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 64px;
}

.tabs__tab {
    border-radius: 40px;
    padding: 16px 40px;

    font-weight: 400;
    font-size: 24px;

    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);

    white-space: nowrap;
    text-shadow: none;
    transition: 0.4s ease-in-out;
}

.tabs__tab.tabs__tab--active {
    color: #ffb200;
    border: 1px solid #ffb200;

}

.promo-landing__slider .swiper-wrapper {
    display: flex;
    align-items: stretch;
}

.promo-landing__slider {
    height: auto;
    position: relative;
}

.promo-landing__slide {
    height: auto !important;
    display: flex;

    flex-shrink: 0;
}

.promo-landing__controls {
    position: absolute;
    top: 60px;
    right: 48px;
    z-index: 10;
}

/* Контент слайда */
.promo-landing__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.promo-landing__mockups {
    position: relative;
    grid-column: span 5;
    height: 100%;
}

.mockups__wrapper {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    height: 100%;
    width: 100%;
}

.mockups__wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* Инфо блок */
.promo-landing__info {
    grid-column: span 7;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    padding: 56px 48px;
}

.promo-landing__subtitle {
    font-family: var(--font-family-base);
    font-weight: 600;
    font-size: 48px;

    line-height: 0.7;
    margin-bottom: 24px;
}

.promo-landing__inner {
    overscroll-behavior: contain;
    /* Ключевое свойство: блокирует скролл страницы */


    touch-action: pan-y;
    max-height: 458px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ffb200 transparent;
}

.promo-landing__description {
    font-size: 24px;

    line-height: 1.3;
    margin-bottom: 32px;
}

.promo-landing__features {
    display: grid;
    row-gap: 24px;
    margin-bottom: 40px;
}

.promo-landing__feature {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    list-style: none;
}

.promo-landing__feature::before {
    content: "";
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-top: 4px;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 0C10.5 5.79899 5.79899 10.5 0 10.5V13.5C5.79899 13.5 10.5 18.201 10.5 24H13.5C13.5 18.201 18.201 13.5 24 13.5V10.5C18.201 10.5 13.5 5.79899 13.5 0H10.5Z" fill="%23FF0099"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Кнопки */
.promo-landing__actions {
    display: flex;
    gap: 12px;
    margin-top: auto;
}

.promo-landing__btn {
    border-radius: 20px;
    padding-inline: 40px;
    height: 51px;
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    text-transform: uppercase;
}

.button--outline {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;

    cursor: pointer;
    transition: all 0.4s ease;
}

.button--outline:hover {
    border-color: #fff;
    background: rgba(255, 255, 255, 0.05);
}

@media (max-width: 1420px) {
    .promo-landing__mockups {
        grid-column: span 6;
    }

    .promo-landing__info {
        grid-column: span 6;
    }
}

@media (max-width: 1299px) {
    .promo-landing__controls {
        display: none;
    }

    .promo-landing__content {
        grid-template-columns: 1fr;
        min-height: 100%;
        grid-template-rows: 1fr auto;
    }

    .promo-landing__mockups {
        grid-column: 1 / -1;
        height: 100%;
    }

    .mockups__wrapper {
        aspect-ratio: 704 / 480;
    }

    .promo-landing__info {
        grid-column: 1 / -1;
    }
}

@media (max-width: 1024px) {
    .tabs {
        margin-bottom: 32px;
    }

    .tabs__tab {
        border-radius: 24px;
        padding: 16px 32px;

        font-size: 20px;
    }

    .promo-landing__info {
        padding: 32px;
    }

    .promo-landing__subtitle {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .promo-landing__description {
        font-size: 16px;

        margin-bottom: 16px;
    }

    .promo-landing__features {
        font-size: 16px;
        row-gap: 12px;
        margin-bottom: 40px;
    }

    .promo-landing__feature::before {
        width: 20px;
        height: 20px;
    }

    .promo-landing__btn {
        width: 50%;
    }

    .button--outline {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .tabs {
        flex-wrap: wrap;
        margin-bottom: 24px;
        gap: 8px;
    }

    .tabs__tab {
        border-radius: 16px;
        padding: 12px 24px;
        font-size: 16px;
    }

    .mockups__wrapper {
        aspect-ratio: 288 / 220;
    }

    .promo-landing__info {
        padding: 24px 20px;
    }

    .promo-landing__subtitle {
        font-size: 24px;
    }

    .promo-landing__features {
        margin-bottom: 24px;
    }

    .promo-landing__actions {
        flex-direction: column;
    }

    .promo-landing__btn {
        width: 100%;
    }

    .button--outline {
        width: 100%;
    }
}

/*---------- ПРОМО ЛЕНДИНГ (END)---------------------*/
/*---------- VBI (START)---------------------*/

.about-company__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
}

.about-company__swiper {
    grid-column: 1/7;
    align-self: start;
    min-width: 0;
}

.about-company__swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-company__swiper-base {
    margin-bottom: 16px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.about-company__swiper-base .swiper-slide {
    height: auto;
}

.about-company__item {
    border: var(--border-gray_light);
    border-radius: 40px;
    overflow: hidden;
    max-height: 380px;
}

.about-company__swiper-bullet {
    box-sizing: border-box;
}

.about-company__item-bullet {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;

    aspect-ratio: 224/120;
    width: 100%;
}

.about-company__info {
    grid-column: 8/13;
}

.about-company__info {
    min-width: 0;
}

/* Информационная часть (правая колонка) */

.about-company__info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.about-company__info::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/vbi/vbi.svg");
    z-index: -2;
}

.about-company__card {
    display: grid;
    border-radius: 40px;
    padding: 24px;
    backdrop-filter: blur(40px);
    background: rgba(0, 0, 0, 0.2);
}

.about-company__card:nth-child(1) {
    grid-column: span 3;
    grid-row: span 2;
}

.about-company__card:nth-child(2) {
    grid-column: 4 / 6;
    grid-row: 1;
}

.about-company__card:nth-child(3) {
    grid-column: 4 / 6;
    grid-row: 2;
}

.about-company__card-text {
    font-family: var(--font-family-base);
    font-weight: 500;

    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.about-company__card-value {
    font-family: var(--font-family-base);
    font-weight: 600;

    font-size: 32px;

    line-height: 1.2;
}

.about-company__card-label {
    margin-top: auto;
    font-family: var(--font-family-base);
    font-weight: 500;

    font-size: 24px;

    line-height: 1.2;
}

@media (max-width: 1279px) {
    .about-company__info {
        grid-column: 7/13;
    }
}

@media (max-width: 1024px) {
    .about-company__grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 24px;
    }

    .about-company__swiper {
        grid-column: span 1;
    }

    .about-company__info {
        grid-column: span 1;
    }

    .about-company__info {
        grid-template-columns: repeat(12, 1fr);
    }

    .about-company__card:nth-child(1) {
        grid-column: span 7;
        padding: 32px 24px;
    }

    .about-company__card:nth-child(2) {
        grid-column: 8 / 13;
        padding: 20px 24px;
    }

    .about-company__card:nth-child(3) {
        grid-column: 8 / 13;
        padding: 20px 24px;
    }

    .about-company__card-label {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .about-company__item {
        min-height: 166px;
        border-radius: 16px;
        aspect-ratio: 288 / 166;
    }

    .about-company__item-bullet {
        border-radius: 16px;
        aspect-ratio: 138 / 64;
        min-height: 64px;
    }

    .swiper.about-company__swiper-bullet {
        overflow: visible;
    }

    .about-company__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 12px;
    }

    .about-company__card {
        border-radius: 16px;
        padding: 16px;
    }

    .about-company__card:has(.about-company__card-value) {
        height: 214px;
    }

    .about-company__card:nth-child(1) {
        grid-column: span 2;
        grid-row: 1;
    }

    .about-company__card:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2;
    }

    .about-company__card:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2;
    }

    .about-company__card-text {
        font-size: 16px;
        line-height: 1.5;
    }

    .about-company__card-value {
        font-size: 24px;
    }

    .about-company__card-label {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .about-company__info::before {
        background-size: cover;
    }
}

/*---------- VBI (END)---------------------*/
/*---------- AWARDS (START)---------------------*/
/* === Вкладки === */
.tabs-head {
    margin-bottom: 1rem;
    display: flex;
}

.tabs-head__item {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.75rem 1.25rem;
    border-radius: 6.1875rem;
    background: var(--color-black-05);
    color: var(--color-base);
    white-space: nowrap;
    cursor: pointer;
    margin-right: 0.3125rem;
    transition: 0.5s;
}

.tabs-head__item:hover {
    background: var(--color-yellow-md);
}

.tabs-head__item.active {
    background: var(--color-yellow-base);
}

/* === Контейнер контента === */
.tabs-info__block {
    position: relative;
    min-height: 344px;
}

._js-tabs-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.4s ease-in-out,
        visibility 0.4s ease-in-out;
}

._js-tabs-info.active {
    position: relative;
    opacity: 1;
    visibility: visible;
    transition:
        opacity 0.4s ease-in-out 0.1s,
        visibility 0.4s ease-in-out 0.1s;
}

/* === Обёртки (адаптив) === */
@media screen and (max-width: 1279px) {
    .tabs__overflow {
        overflow-y: auto;
        margin-right: calc((var(--js-wrapper-width) - var(--js-container-width)) / 2 * (-1));
    }
}

@media screen and (max-width: 575px) {
    .tabs__overflow {
        margin-right: -24px;
    }
}

/* === Контент вкладок: рейтинги === */
.new_raiting_wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
}

.new_raiting_wrapper .item {
    position: relative;
    background: #f3f3f3;
    max-width: 464px;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    height: 344px;
    background-size: cover;
    background-position: center;
}

.new_raiting_wrapper .item[data-bg] {
    padding: 24px 40px;
    color: var(--white);
}

.new_raiting_wrapper .item[data-bg="runet"] {
    background-image: url("/local/templates/newvbi/assets/img/rating/runet-rating.png");
}

.new_raiting_wrapper .item[data-bg="adindex"] {
    background-image: url("/local/templates/newvbi/assets/img/rating/adindex.png");
}

.new_raiting_wrapper .item[data-bg="ruward"] {
    background-image: url("/local/templates/newvbi/assets/img/rating/ruward.png");
}

.new_raiting_wrapper .item[data-bg="workspace"] {
    background-image: url("/local/templates/newvbi/assets/img/rating/workspace.png");
}

.new_raiting_wrapper .item[data-bg="SEOnews"] {
    background-image: url("/local/templates/newvbi/assets/img/rating/SEOnews.png");
}

.new_raiting_wrapper .item .raiting {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 26px;
}

.new_raiting_wrapper .item[data-bg] .raiting {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.33333;
}

.new_raiting_wrapper .item .raiting_title {
    margin-top: 15px;
}

.new_raiting_wrapper .item[data-bg] .raiting_title {
    margin-top: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.new_raiting_wrapper .item .raiting_name {
    position: absolute;
    bottom: 35px;
    font-size: 15px;
}

.new_raiting_wrapper .item .raiting_year {
    position: absolute;
    bottom: 10px;
    font-size: 15px;
}

.new_raiting_wrapper .item[data-bg] .raiting_name,
.new_raiting_wrapper .item[data-bg] .raiting_year {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.new_raiting_wrapper .item[data-bg] .raiting_name {
    bottom: 48px;
}

.new_raiting_wrapper .item[data-bg] .raiting_year {
    bottom: 24px;
}

/* === Адаптив для рейтингов === */
@media screen and (max-width: 991px) {
    .new_raiting_wrapper .item[data-bg] .raiting {
        font-size: 32px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 768px) {
    .new_raiting_wrapper:has(.item[data-bg]) {
        min-height: 379px;
    }

    .new_raiting_wrapper .item[data-bg] {
        padding: 24px;
        height: 272px;
        width: 100%;
        max-width: 272px;
        aspect-ratio: 1;
    }

    .new_raiting_wrapper .item[data-bg] .raiting {
        font-size: 26px;
    }

    .new_raiting_wrapper .item[data-bg] .raiting_title {
        font-size: 18px;
    }
}

/* === Навигация слайдера рейтингов === */
.raiting_slider__nav_main {
    position: absolute;
    z-index: 10;
    top: 80%;
    left: 2.5rem;
    right: 2.5rem;
    bottom: 2.5rem;
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    z-index: 1000;
}

.raiting_slider__nav_main div[role="button"] {
    border: 2px solid #d7d7d7;
}

.swiper-buttons__wrap {
    display: none;
}

/*---------- AWARDS (END)---------------------*/

/* ------------------ ФОРМА START------------------- */
.promo-form__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 16px;
}

.promo-form__card--left {
    grid-column: span 7;
    display: grid;
    border-radius: 40px;
    padding: 56px;
    background: rgba(255, 255, 255, 0.1);
}

.promo-form__card--right {
    grid-column: span 5;
    border-radius: 40px;
    padding: 40px;
    margin-top: 40px;
    background: #353535;
    position: relative;
    overflow: hidden;
}

.promo-form__card--right::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    background-image: url(../img/ellipse.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.promo-form__header {
    display: grid;
    row-gap: 16px;
    margin-bottom: 40px;
}

.promo-form__title {
    font-family: var(--font-family-base);
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;

    color: #fff;
}

.promo-form__subtitle {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;

    color: #9e9e9e;
}

.promo-form__fields {
    display: grid;
    row-gap: 12px;
    margin-bottom: 20px;
}

.promo-form__field-group {
    display: flex;
    position: relative;
    background: #f3f3f3;
    border-radius: 16px;
    padding: 15px 24px 15px 24px;
    display: grid;
    grid-template-columns: 10.625rem 1fr;
    gap: 0 1rem;
    font-size: 1rem;
    line-height: 1.5rem;

    border: 1px solid transparent;
    transition: 0.4s ease-in-out;
}

.promo-form__field-group.active {
    border: 1px solid #ffb200;

}

.promo-form__label {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 16px;

    line-height: 1.2;
    color: #1f1f1f;

    width: 100%;
    border-right: 1px solid #e9e9e9;
    padding-right: 1rem;
    margin-right: 0;
    margin-bottom: 0;
}

.promo-form__label span {
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.promo-form__label-text {
    color: #ffffff;
    font-size: 14px;
}

.promo-form__input {
    width: 100%;
    border: none;
    background: #f3f3f3;
}

.promo-form__agreements {
    border: none;
    padding: 0;
    margin-bottom: 40px;
    display: grid;
    row-gap: 20px;
}

.promo-form__checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;

    user-select: none;

}

.promo-form__checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.promo-form__checkbox-custom {
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    width: 23px;
    height: 21px;
    flex-shrink: 0;
    position: relative;
}

.promo-form__checkbox-input:checked+.promo-form__checkbox-custom::after {
    content: "";
    position: absolute;

    left: 7px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid #ffb400;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.promo-form__checkbox-text {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 14px;

    line-height: 1;
    color: #9e9e9e;
}

.promo-form__checkbox-text a,
.promo-form__checkbox-text a:hover {
    color: #f09;
    text-decoration: none;
}

.promo-form__submit-btn {
    width: 100%;
    max-width: 342px;
    background-color: #ffb200;
    cursor: pointer;
    border-radius: 999px;

    padding: 16px;
    height: 56px;
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    color: #1f1f1f;
}

.promo-form__card--right .promo-form__title {
    font-family: var(--font-family-base);
    font-weight: 600;
    font-size: 32px;

    line-height: 1.2;

    margin-bottom: 20px;
}

.promo-form__group-wrap {
    padding-block: 20px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(217, 217, 217, 0.2);
    border-bottom: 1px solid rgba(217, 217, 217, 0.2);
}

/* Свитчи */
.promo-form__selection-group {
    border: none;
    padding: 0;
}

.promo-form__group-title {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 20px;

    line-height: 1.2;
    margin-bottom: 16px;
}

.promo-form__switches-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
}

.promo-form__switch {
    cursor: pointer;
}

.promo-form__switch-input {
    display: none;
}

.promo-form__switch-inner {
    display: flex;
    align-items: center;
    gap: 12px;
}

.promo-form__switch-thumb {
    width: 40px;
    height: 20px;

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    position: relative;
    transition: 0.4s;
}

.promo-form__switch-thumb::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: 0.4s;
}

.promo-form__switch-input:checked+.promo-form__switch-inner .promo-form__switch-thumb {
    background-color: #ffb200;
}

.promo-form__switch-input:checked+.promo-form__switch-inner .promo-form__switch-thumb::after {
    transform: translateX(18px);
}

.promo-form__switch-text {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 16px;

    line-height: 1.2;
}

@media (max-width: 1119px) {
    .promo-form__container {
        display: flex;
        flex-direction: column-reverse;
    }

    .promo-form__card--right {
        margin-top: 0;
    }
}

@media (max-width: 1024px) {

    .promo-form__card--right,
    .promo-form__card--left {
        padding: 32px;
    }

    .promo-form__title {
        font-size: 32px;
    }

    .promo-form__subtitle {
        font-size: 20px;
    }

    .promo-form__submit-btn {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .promo-form__card--right {
        border-radius: 28px;
        padding: 24px 20px;
    }

    .promo-form__card--left {
        border-radius: 24px;
        padding: 36px 16px;
    }

    .promo-form__title {
        font-size: 22px;
    }

    .promo-form__subtitle {
        font-size: 16px;
    }

    .promo-form__card--right .promo-form__title {
        font-size: 24px;
    }

    .promo-form__header {
        margin-bottom: 32px;
    }

    .promo-form__switches-list {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .promo-form__field-group {
        grid-template-columns: 1fr;
        padding: 16px 24px;
        gap: 16px;
    }

    .promo-form__label {
        border-right: none;
        padding-right: 0;
        margin-right: 0;
        font-weight: 400;
    }

    .promo-form__fields {
        row-gap: 8px;
        margin-bottom: 24px;
    }

    .promo-form__agreements {
        margin-bottom: 24px;
    }
}

.promo-form__checkbox-label {

    align-items: flex-start;

}

/* ------------------ ФОРМА END------------------- */